@media screen and (min-width: 992px) {
  #fonctionnement{
    width: 95%;
    margin-top: 50px;
    margin-bottom: 50px;
    h2{
      text-align: center;
    }
    .stepNumberContainer{
      width: 100%;
      display: flex;
      flex-wrap: nowrap;
      flex-direction: row;
      justify-content: space-between;
      .stepNumber{
        width: 30%;
      }
    }
  }

  #restaurants{
    width: 100%;
    .listeRestoContainer{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      width: 95%;
      a{
        width: 45%;
      }
    }
  }
 
}