@import '../composants/composants';

body {
    @extend %body;
}

// titre et fleche retour
header {
    @extend %header;
}

* {
    box-sizing: border-box;
}

.titre {
    font-family: $ecritureTitre;
}

// image du restaurant
#imageResto {
    height: 200px;
    width: 100%;

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}
// liste des menus
#lesMenus {
    border-radius: 35px 35px 0 0;
    margin-top: -30px;
    z-index: 6;
    position: relative;
    background-color: $background;

    .nomResto {
        padding-top: 10px;
        display: flex;
        align-items: center;
        justify-content: space-around;

        h2 {
            font-weight: 100;
        }

        .fa-heart {
            font-size: 22px;
        }
    }
}
// menu suivant la denomination
.platWrapper_Entrée {
    @extend %cardPlat;
}
.platWrapper_Plat{
    @extend %cardPlat;

}

.platWrapper_Dessert {
    @extend %cardPlat;
}
.bouton{
    text-align: center;
}
// bouton commander
button{
    
    margin: 30px 0 30px 0;
    @extend %boutonColore
}
// footer
footer {
    position: relative;
    @extend %footer;
}
// bouton coeur Anime
.fa-stack {
   @extend %coeurAnime;
}