@import '../composants/composants';

body {
    @extend %body;
}

// titre et fleche retour
header {
    @extend %header;
}

* {
    box-sizing: border-box;
}

.titre {
    font-family: $ecritureTitre;
}

// image du restaurant
#imageResto {
    height: 200px;
    width: 100%;

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

#lesMenus {
    border-radius: 35px 35px 0 0;
    margin-top: -30px;
    z-index: 6;
    position: relative;
    background-color: $background;

    .nomResto {
        padding-top: 10px;
        display: flex;
        align-items: center;
        justify-content: space-around;

        h2 {
            font-weight: 100;
        }

        .fa-heart {
            font-size: 22px;
        }
    }
}

.platWrapper_Entrée {
    @extend %cardPlat;

    :nth-child(2) {
        animation-delay: 0.2s;
    }

    :nth-child(3) {
        animation-delay: 0.5s;
    }

    :nth-child(4) {
        animation-delay: 0.7s;
    }
}
.platWrapper_Plat{
    @extend %cardPlat;

    :nth-child(2) {
        animation-delay: 0.9s;
    }

    :nth-child(3) {
        animation-delay: 1100ms;
    }

    :nth-child(4) {
        animation-delay: 1300ms;
    }
}

.platWrapper_Dessert {
    @extend %cardPlat;
    :nth-child(2) {
        animation-delay: 1500ms;
    }

    :nth-child(3) {
        animation-delay: 1600ms;
    }

    :nth-child(4) {
        animation-delay: 1800ms;
    }
}

button{
    margin: 30px 0 30px 0;
    @extend %boutonColore
}

footer {
    position: relative;
    @extend %footer;
}

.fa-stack {
   @extend %coeurAnime;
}