@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
body {
  font-family: "Roboto";
  margin: 0;
}

header {
  font-family: "Shrikhand";
  text-align: center;
  margin: 5px 0 0 0;
  position: relative;
}

header h1 {
  margin: 0;
  font-weight: 100;
}

header a {
  text-decoration: none;
  color: black;
  font-weight: 600;
}

header .fa-arrow-left {
  position: absolute;
  top: 25%;
  left: 30px;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  background-color: #262323;
  color: #f0f0f0;
  padding: 10px 10px 20px 10px;
  font-size: 12px;
}

footer a {
  text-decoration: none;
  color: #f0f0f0;
  margin-bottom: 5px;
}

footer .fa-utensils, footer .fa-handshake-angle {
  width: 20px;
  text-align: center;
}

#lesMenus .platWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.titre {
  font-family: "Shrikhand";
}

#imageResto {
  height: 200px;
  width: 100%;
}

#imageResto img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#lesMenus {
  border-radius: 35px 35px 0 0;
  margin-top: -30px;
  z-index: 6;
  position: relative;
  background-color: #f0f0f0;
  height: 550px;
  padding: auto;
}

#lesMenus .nomResto {
  padding-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#lesMenus .nomResto h2 {
  font-weight: 100;
}

#lesMenus .nomResto .fa-heart {
  font-size: 22px;
}

#lesMenus .platWrapper .typePlat {
  width: 95%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  text-transform: uppercase;
}

#lesMenus .platWrapper .typePlat h2 {
  margin-bottom: 5px;
  font-weight: 100;
  font-size: 16px;
}

#lesMenus .traitVert {
  width: 35px;
  height: 4px;
  background-color: #99e2d0;
}

#lesMenus .descriptionWrapper {
  margin-top: 10px;
  background-color: white;
  width: 95%;
  height: 70px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 15px;
  -webkit-box-shadow: 5px 5px 10px #d3d3d3;
          box-shadow: 5px 5px 10px #d3d3d3;
}

#lesMenus .descriptionWrapper .descriptionPlat {
  width: 60%;
  min-width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#lesMenus .descriptionWrapper .descriptionPlat h3 {
  margin: 0;
}

#lesMenus .descriptionWrapper .descriptionPlat p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
}

#lesMenus .descriptionWrapper .prixPlat {
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#lesMenus .descriptionWrapper .animationPlat {
  display: none;
  width: 20%;
  background-color: #99e2d0;
}

#lesMenus .descriptionWrapper:hover .animationPlat {
  display: block;
}
/*# sourceMappingURL=menu.css.map */