@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
body {
  font-family: "Roboto";
  margin: 0;
}

header {
  font-family: "Shrikhand";
  text-align: center;
  margin: 5px 0 0 0;
  position: relative;
}

header h1 {
  margin: 0;
  font-weight: 100;
}

header a {
  text-decoration: none;
  color: black;
  font-weight: 600;
}

header .fa-arrow-left {
  position: absolute;
  top: 25%;
  left: 30px;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  background-color: #262323;
  color: #f0f0f0;
  padding: 10px 10px 20px 10px;
  font-size: 12px;
}

footer a {
  text-decoration: none;
  color: #f0f0f0;
  margin-bottom: 5px;
}

footer .fa-utensils,
footer .fa-handshake-angle {
  width: 20px;
  text-align: center;
}

.platWrapper_Entrée, .platWrapper_Plat, .platWrapper_Dessert {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

button {
  border-radius: 50px;
  padding: 20px;
  border: none;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  color: white;
  font-size: 14px;
  font-weight: 600;
  -webkit-box-shadow: 5px 8px 5px #d3d3d3;
          box-shadow: 5px 8px 5px #d3d3d3;
}

button:hover {
  -webkit-filter: brightness(1.06);
          filter: brightness(1.06);
  -webkit-box-shadow: 5px 8px 5px #a0a0a0;
          box-shadow: 5px 8px 5px #a0a0a0;
}

.platWrapper_Entrée, .platWrapper_Plat, .platWrapper_Dessert {
  width: 100%;
}

.platWrapper_Entrée .typePlat, .platWrapper_Plat .typePlat, .platWrapper_Dessert .typePlat {
  width: 90%;
  text-transform: uppercase;
}

.platWrapper_Entrée .typePlat h2, .platWrapper_Plat .typePlat h2, .platWrapper_Dessert .typePlat h2 {
  margin-bottom: 5px;
  font-weight: 100;
  font-size: 16px;
}

.platWrapper_Entrée .traitVert, .platWrapper_Plat .traitVert, .platWrapper_Dessert .traitVert {
  width: 35px;
  height: 4px;
  background-color: #99e2d0;
}

.platWrapper_Entrée .descriptionWrapper, .platWrapper_Plat .descriptionWrapper, .platWrapper_Dessert .descriptionWrapper {
  width: 90%;
  margin-top: 10px;
  background-color: white;
  height: 70px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 15px;
  -webkit-box-shadow: 5px 5px 10px #d3d3d3;
          box-shadow: 5px 5px 10px #d3d3d3;
  cursor: pointer;
  -webkit-animation: menuUp 1s forwards;
          animation: menuUp 1s forwards;
}

.platWrapper_Entrée .descriptionWrapper:nth-child(2), .platWrapper_Plat .descriptionWrapper:nth-child(2), .platWrapper_Dessert .descriptionWrapper:nth-child(2) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.platWrapper_Entrée .descriptionWrapper:nth-child(3), .platWrapper_Plat .descriptionWrapper:nth-child(3), .platWrapper_Dessert .descriptionWrapper:nth-child(3) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.platWrapper_Entrée .descriptionWrapper:nth-child(4), .platWrapper_Plat .descriptionWrapper:nth-child(4), .platWrapper_Dessert .descriptionWrapper:nth-child(4) {
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}

.platWrapper_Entrée .descriptionWrapper:nth-child(5), .platWrapper_Plat .descriptionWrapper:nth-child(5), .platWrapper_Dessert .descriptionWrapper:nth-child(5) {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}

.platWrapper_Entrée .descriptionWrapper .descriptionPlat, .platWrapper_Plat .descriptionWrapper .descriptionPlat, .platWrapper_Dessert .descriptionWrapper .descriptionPlat {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.platWrapper_Entrée .descriptionWrapper .descriptionPlat .intitulePlat, .platWrapper_Plat .descriptionWrapper .descriptionPlat .intitulePlat, .platWrapper_Dessert .descriptionWrapper .descriptionPlat .intitulePlat {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-left: 10px;
}

.platWrapper_Entrée .descriptionWrapper .descriptionPlat h3, .platWrapper_Plat .descriptionWrapper .descriptionPlat h3, .platWrapper_Dessert .descriptionWrapper .descriptionPlat h3 {
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.platWrapper_Entrée .descriptionWrapper .descriptionPlat p, .platWrapper_Plat .descriptionWrapper .descriptionPlat p, .platWrapper_Dessert .descriptionWrapper .descriptionPlat p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
}

.platWrapper_Entrée .descriptionWrapper .prixPlat, .platWrapper_Plat .descriptionWrapper .prixPlat, .platWrapper_Dessert .descriptionWrapper .prixPlat {
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-bottom: 8px;
  font-weight: 800;
}

.platWrapper_Entrée .descriptionWrapper .animationPlat, .platWrapper_Plat .descriptionWrapper .animationPlat, .platWrapper_Dessert .descriptionWrapper .animationPlat {
  margin-right: -300px;
  width: 20%;
  background-color: #99e2d0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 1.5s;
  transition: all 1.5s;
}

.platWrapper_Entrée .descriptionWrapper .fa-circle-check, .platWrapper_Plat .descriptionWrapper .fa-circle-check, .platWrapper_Dessert .descriptionWrapper .fa-circle-check {
  color: white;
  font-size: 2.1em;
  -webkit-transform: rotate(0turn);
          transform: rotate(0turn);
}

.platWrapper_Entrée .descriptionWrapper:hover .animationPlat, .platWrapper_Plat .descriptionWrapper:hover .animationPlat, .platWrapper_Dessert .descriptionWrapper:hover .animationPlat {
  margin-right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

.platWrapper_Entrée .descriptionWrapper:hover .fa-circle-check, .platWrapper_Plat .descriptionWrapper:hover .fa-circle-check, .platWrapper_Dessert .descriptionWrapper:hover .fa-circle-check {
  -webkit-transform: rotate(-1turn);
          transform: rotate(-1turn);
  -webkit-transition: -webkit-transform 1s ease-in-out;
  transition: -webkit-transform 1s ease-in-out;
  transition: transform 1s ease-in-out;
  transition: transform 1s ease-in-out, -webkit-transform 1s ease-in-out;
}

.fa-stack {
  width: 25px;
  height: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.fa-stack .fa-regular {
  font-size: 20px;
  position: absolute;
}

.fa-stack .fa-solid {
  width: 0;
  height: 0;
  position: absolute;
  font-size: 21px;
  color: transparent;
}

.fa-stack:hover .fa-solid {
  width: 100%;
  height: 100%;
  background: -webkit-linear-gradient(45deg, #FF79DA 40%, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-transition: 500ms;
  transition: 500ms;
}

@-webkit-keyframes menuUp {
  from {
    -webkit-transform: translateY(15px);
            transform: translateY(15px);
    opacity: 0%;
  }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 100%;
  }
}

@keyframes menuUp {
  from {
    -webkit-transform: translateY(15px);
            transform: translateY(15px);
    opacity: 0%;
  }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 100%;
  }
}

@-webkit-keyframes fadeInContainerLoader {
  0% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes fadeInContainerLoader {
  0% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.titre {
  font-family: "Shrikhand";
}

#imageResto {
  height: 200px;
  width: 100%;
}

#imageResto img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#lesMenus {
  border-radius: 35px 35px 0 0;
  margin-top: -30px;
  z-index: 6;
  position: relative;
  background-color: #f0f0f0;
}

#lesMenus .nomResto {
  padding-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#lesMenus .nomResto h2 {
  font-weight: 100;
}

#lesMenus .nomResto .fa-heart {
  font-size: 22px;
}

.bouton {
  text-align: center;
}

button {
  margin: 30px 0 30px 0;
}

footer {
  position: relative;
}
/*# sourceMappingURL=menu.css.map */