@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
body {
  font-family: "Roboto";
  margin: 0;
}

header {
  font-family: "Shrikhand";
  text-align: center;
  margin: 5px 0 0 0;
  position: relative;
}

header h1 {
  margin: 0;
  font-weight: 100;
}

header a {
  text-decoration: none;
  color: black;
  font-weight: 600;
}

header .fa-arrow-left {
  position: absolute;
  top: 25%;
  left: 30px;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  background-color: #262323;
  color: #f0f0f0;
  padding: 10px 10px 20px 10px;
  font-size: 12px;
}

footer a {
  text-decoration: none;
  color: #f0f0f0;
  margin-bottom: 5px;
}

footer .fa-utensils,
footer .fa-handshake-angle {
  width: 20px;
  text-align: center;
}

#hero #restaurauntsExploration, #fonctionnement .stepNumberContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#hero button {
  border-radius: 50px;
  padding: 20px;
  border: none;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9256dc));
  background: linear-gradient(#FF79DA, #9256dc);
  color: white;
  font-size: 14px;
  font-weight: 600;
  -webkit-box-shadow: 5px 8px 5px #d3d3d3;
          box-shadow: 5px 8px 5px #d3d3d3;
}

#hero button:hover {
  -webkit-filter: brightness(1.06);
          filter: brightness(1.06);
  -webkit-box-shadow: 5px 8px 5px #a0a0a0;
          box-shadow: 5px 8px 5px #a0a0a0;
}

#restaurants .listeRestoContainer .restoCard .caption .fa-stack {
  width: 25px;
  height: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

#restaurants .listeRestoContainer .restoCard .caption .fa-stack .fa-regular {
  font-size: 20px;
  position: absolute;
}

#restaurants .listeRestoContainer .restoCard .caption .fa-stack .fa-solid {
  width: 0;
  height: 0;
  position: absolute;
  font-size: 21px;
  color: transparent;
}

#restaurants .listeRestoContainer .restoCard .caption .fa-stack:hover .fa-solid {
  width: 100%;
  height: 100%;
  background: -webkit-linear-gradient(45deg, #FF79DA 40%, #9256dc);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-transition: 500ms;
  transition: 500ms;
}

@-webkit-keyframes menuUp {
  from {
    -webkit-transform: translateY(15px);
            transform: translateY(15px);
    opacity: 0%;
  }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 100%;
  }
}

@keyframes menuUp {
  from {
    -webkit-transform: translateY(15px);
            transform: translateY(15px);
    opacity: 0%;
  }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 100%;
  }
}

@-webkit-keyframes fadeInContainerLoader {
  0% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes fadeInContainerLoader {
  0% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.titre {
  font-family: "Shrikhand";
}

#loaderContainer {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  z-index: 3000;
  -webkit-animation: fadeInContainerLoader 4s forwards;
          animation: fadeInContainerLoader 4s forwards;
}

#loaderContainer .loader {
  border: 16px solid #9256dc;
  border-top: 16px solid #FF79DA;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite;
}

#loaderContainer .textLoader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  font-size: 22px;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  width: 350px;
  height: 50px;
}

#loaderContainer .textLoader span {
  background: -webkit-linear-gradient(45deg, #FF79DA 40%, #9256dc);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

#loaderContainer .textLoader span:nth-child(1) {
  position: absolute;
  -webkit-animation: fadeOut 1s forwards;
          animation: fadeOut 1s forwards;
}

#loaderContainer .textLoader span:nth-child(2) {
  position: absolute;
  opacity: 0;
  -webkit-animation: fadeIn 700ms backwards;
          animation: fadeIn 700ms backwards;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

#loaderContainer .textLoader span:nth-child(3) {
  position: absolute;
  opacity: 0;
  -webkit-animation: fadeIn 1s backwards;
          animation: fadeIn 1s backwards;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

#hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 40px;
}

#hero h2 {
  padding: 0 70px 0 70px;
  margin-bottom: 0;
}

#hero p {
  margin-top: 0;
}

#hero #location {
  text-align: center;
  background-color: #eaeaea;
  -webkit-box-shadow: inset 0px 5px 2px #d3d3d3;
          box-shadow: inset 0px 5px 2px #d3d3d3;
  padding: 15px;
  font-weight: 600;
}

#hero .fa-location-dot {
  margin-left: -30px;
  margin-right: 10px;
  font-size: 16px;
}

#hero #restaurauntsExploration {
  background-color: #f0f0f0;
  text-align: center;
  padding-bottom: 20px;
}

#fonctionnement {
  width: 85%;
  margin: auto;
}

#fonctionnement .stepNumberContainer {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#fonctionnement .stepNumberContainer .stepNumber {
  position: relative;
  border-radius: 20px;
  background-color: #f0f0f0;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
  -webkit-box-shadow: 5px 5px 10px #d3d3d3;
          box-shadow: 5px 5px 10px #d3d3d3;
}

#fonctionnement .stepNumberContainer .stepNumber:hover {
  background-color: rgba(158, 94, 243, 0.15);
  -webkit-box-shadow: 5px 5px 10px rgba(158, 94, 243, 0.3);
          box-shadow: 5px 5px 10px rgba(158, 94, 243, 0.3);
}

#fonctionnement .stepNumberContainer h2 {
  font-weight: bolder;
}

#fonctionnement .stepNumberContainer .number {
  position: absolute;
  left: -9px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #9256dc;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 12px;
  color: white;
  font-weight: 100;
}

#fonctionnement .stepNumberContainer .fa-mobile-screen,
#fonctionnement .stepNumberContainer .fa-list,
#fonctionnement .stepNumberContainer .fa-store {
  color: gray;
  padding: 0 25px;
  width: 62px;
}

#fonctionnement .stepNumberContainer:hover .fa-store {
  color: #9256dc;
}

#fonctionnement .stepNumberContainer:hover .fa-list {
  color: #9256dc;
}

#fonctionnement .stepNumberContainer:hover .fa-mobile-screen {
  color: #9256dc;
}

#restaurants {
  background-color: #f0f0f0;
  padding: 30px 0 30px 0;
}

#restaurants h2 {
  margin-left: 20px;
}

#restaurants .listeRestoContainer {
  width: 90%;
  margin: auto;
}

#restaurants .listeRestoContainer a {
  text-decoration: none;
  color: black;
}

#restaurants .listeRestoContainer .restoCard {
  width: 100%;
  overflow: hidden;
  border-radius: 15px;
  background-color: white;
  margin-bottom: 20px;
}

#restaurants .listeRestoContainer .restoCard:hover {
  -webkit-filter: brightness(1.06);
          filter: brightness(1.06);
  -webkit-box-shadow: 5px 8px 5px #a0a0a0;
          box-shadow: 5px 8px 5px #a0a0a0;
}

#restaurants .listeRestoContainer .restoCard .imageResto {
  position: relative;
}

#restaurants .listeRestoContainer .restoCard img {
  width: 100%;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
}

#restaurants .listeRestoContainer .restoCard .new {
  background-color: #99e2d0;
  color: #0e8f6f;
  position: absolute;
  font-weight: 600;
  font-size: 14px;
  right: 7%;
  top: 10%;
  padding: 8px;
}

#restaurants .listeRestoContainer .restoCard .caption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px 0 10px;
  height: 60px;
  font-size: 15px;
}

#restaurants .listeRestoContainer .restoCard .caption h3 {
  margin: 0;
}

#restaurants .listeRestoContainer .restoCard .caption p {
  margin: 0;
}

#restaurants .listeRestoContainer .restoCard .caption .fa-stack {
  font-size: 20px;
}
/*# sourceMappingURL=style.css.map */