@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
body {
  font-family: "Roboto";
  margin: 0;
}

header {
  font-family: "Shrikhand";
  text-align: center;
  margin: 5px 0 0 0;
  position: relative;
}

header h1 {
  margin: 0;
  font-weight: 100;
}

header a {
  text-decoration: none;
  color: black;
  font-weight: 600;
}

header .fa-arrow-left {
  position: absolute;
  top: 25%;
  left: 30px;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  background-color: #262323;
  color: #f0f0f0;
  padding: 10px 10px 20px 10px;
  font-size: 12px;
}

footer a {
  text-decoration: none;
  color: #f0f0f0;
  margin-bottom: 5px;
}

footer .fa-utensils, footer .fa-handshake-angle {
  width: 20px;
  text-align: center;
}

#hero #restaurauntsExploration, #fonctionnement .stepNumberContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#hero button {
  border-radius: 50px;
  padding: 20px;
  border: none;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  color: white;
  font-size: 14px;
  font-weight: 600;
  -webkit-box-shadow: 5px 8px 5px #d3d3d3;
          box-shadow: 5px 8px 5px #d3d3d3;
}

#hero button:hover {
  -webkit-filter: brightness(1.03);
          filter: brightness(1.03);
  -webkit-box-shadow: 5px 8px 5px #a0a0a0;
          box-shadow: 5px 8px 5px #a0a0a0;
}

.traitVert {
  width: 35px;
  height: 4px;
  background-color: #99e2d0;
}

.descriptionWrapper {
  width: 90%;
  margin-top: 10px;
  background-color: white;
  height: 70px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 15px;
  -webkit-box-shadow: 5px 5px 10px #d3d3d3;
          box-shadow: 5px 5px 10px #d3d3d3;
  cursor: pointer;
  -webkit-animation: menuUp 1s forwards;
          animation: menuUp 1s forwards;
}

.descriptionWrapper .descriptionPlat {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.descriptionWrapper .descriptionPlat .intitulePlat {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-left: 10px;
}

.descriptionWrapper .descriptionPlat h3 {
  margin: 0;
}

.descriptionWrapper .descriptionPlat p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
}

.descriptionWrapper .prixPlat {
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-bottom: 8px;
}

.descriptionWrapper .animationPlat {
  margin-right: -300px;
  width: 20%;
  background-color: #99e2d0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 1.5s;
  transition: all 1.5s;
}

.descriptionWrapper .fa-circle-check {
  color: white;
  font-size: 2.1em;
  -webkit-transform: rotate(0turn);
          transform: rotate(0turn);
}

.descriptionWrapper:hover .animationPlat {
  margin-right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

.descriptionWrapper:hover .fa-circle-check {
  -webkit-transform: rotate(-1turn);
          transform: rotate(-1turn);
  -webkit-transition: -webkit-transform 1s ease-in-out;
  transition: -webkit-transform 1s ease-in-out;
  transition: transform 1s ease-in-out;
  transition: transform 1s ease-in-out, -webkit-transform 1s ease-in-out;
}

@-webkit-keyframes menuUp {
  from {
    -webkit-transform: translateY(15px);
            transform: translateY(15px);
    opacity: 0%;
  }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 100%;
  }
}

@keyframes menuUp {
  from {
    -webkit-transform: translateY(15px);
            transform: translateY(15px);
    opacity: 0%;
  }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 100%;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.titre {
  font-family: "Shrikhand";
}

#loaderContainer {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  z-index: 3000;
  -webkit-animation: fadeInContainerLoader 13s forwards;
          animation: fadeInContainerLoader 13s forwards;
}

#loaderContainer .loader {
  border: 16px solid #9356DC;
  /* Light grey */
  border-top: 16px solid #FF79DA;
  /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite;
}

#loaderContainer .textLoader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  font-size: 22px;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  width: 350px;
  height: 50px;
}

#loaderContainer .textLoader span {
  background: -webkit-linear-gradient(45deg, #FF79DA 40%, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

#loaderContainer .textLoader span:nth-child(1) {
  position: absolute;
  -webkit-animation: fadeOut 4s forwards;
          animation: fadeOut 4s forwards;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

#loaderContainer .textLoader span:nth-child(2) {
  position: absolute;
  opacity: 0;
  -webkit-animation: fadeIn 3s backwards;
          animation: fadeIn 3s backwards;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

#loaderContainer .textLoader span:nth-child(3) {
  position: absolute;
  opacity: 0;
  -webkit-animation: fadeIn 3s backwards;
          animation: fadeIn 3s backwards;
  -webkit-animation-delay: 6s;
          animation-delay: 6s;
}

@-webkit-keyframes fadeInContainerLoader {
  0% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes fadeInContainerLoader {
  0% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

#hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 40px;
}

#hero h2 {
  padding: 0 70px 0 70px;
  margin-bottom: 0;
}

#hero p {
  margin-top: 0;
}

#hero #location {
  text-align: center;
  background-color: #eaeaea;
  -webkit-box-shadow: inset 0px 5px 2px #d3d3d3;
          box-shadow: inset 0px 5px 2px #d3d3d3;
  padding: 15px;
  font-weight: 600;
}

#hero .fa-location-dot {
  margin-left: -30px;
  margin-right: 10px;
  font-size: 16px;
}

#hero #restaurauntsExploration {
  background-color: #f0f0f0;
  text-align: center;
  padding-bottom: 20px;
}

#fonctionnement {
  width: 85%;
  margin: auto;
}

#fonctionnement .stepNumberContainer {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#fonctionnement .stepNumberContainer .stepNumber {
  position: relative;
  border-radius: 20px;
  background-color: #f0f0f0;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 5;
  height: 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
  -webkit-box-shadow: 5px 5px 10px #d3d3d3;
          box-shadow: 5px 5px 10px #d3d3d3;
}

#fonctionnement .stepNumberContainer h2 {
  font-weight: bolder;
}

#fonctionnement .stepNumberContainer .number {
  position: absolute;
  left: -9px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #9356DC;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 12px;
  color: white;
  font-weight: 100;
}

#fonctionnement .stepNumberContainer .fa-mobile-screen, #fonctionnement .stepNumberContainer .fa-list, #fonctionnement .stepNumberContainer .fa-store {
  color: gray;
  padding: 0 25px;
  width: 62px;
}

#fonctionnement .stepNumberContainer .fa-store {
  color: #9356DC;
}

#restaurants {
  background-color: #f0f0f0;
  padding: 30px 0 30px 0;
}

#restaurants h2 {
  margin-left: 20px;
}

#restaurants .listeRestoContainer {
  width: 90%;
  margin: auto;
}

#restaurants .listeRestoContainer .restoCard {
  width: 100%;
  overflow: hidden;
  border-radius: 15px;
  background-color: white;
  margin-bottom: 20px;
}

#restaurants .listeRestoContainer .restoCard .imageResto {
  position: relative;
}

#restaurants .listeRestoContainer .restoCard img {
  width: 100%;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
}

#restaurants .listeRestoContainer .restoCard .new {
  background-color: #99e2d0;
  color: #0e8f6f;
  position: absolute;
  font-weight: 600;
  font-size: 14px;
  right: 7%;
  top: 10%;
  padding: 8px;
}

#restaurants .listeRestoContainer .restoCard .caption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px 0 10px;
  height: 60px;
  font-size: 15px;
}

#restaurants .listeRestoContainer .restoCard .caption h3 {
  margin: 0;
}

#restaurants .listeRestoContainer .restoCard .caption p {
  margin: 0;
}

#restaurants .listeRestoContainer .restoCard .caption .fa-heart {
  font-size: 20px;
}
/*# sourceMappingURL=style.css.map */