
@import '../composants/composants';



// GENERAL
body {
    font-family: 'Roboto';
    margin: 0;
}

* {
    box-sizing: border-box;
}

.titre {
    font-family: 'Shrikhand';
}

h1 {
    font-family: 'Shrikhand';
    text-align: center;
    margin: 5px 0;
}

// Hero section

#hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 40px;
    h2{
        padding: 0 70px 0 70px;
        margin-bottom: 0;
    }
    p{
        margin-top: 0;
    }
    #location {
        text-align: center;
        background-color: #eaeaea;
        box-shadow: inset 0px 5px 2px #d3d3d3;
        padding: 15px;
        font-weight: 600;
    }

    .fa-location-dot {
        margin-left: -30px;
        margin-right: 10px;
        font-size: 16px;
    }

    #restaurauntsExploration {
        background-color: $background;
        @extend %flexColumnCenter;
        text-align: center;
        padding-bottom: 20px;
    }
    button{
        @extend %boutonColore;
    }
}

#fonctionnement{
    width: 85%;
    margin: auto;
   .stepNumberContainer{
    @extend %flexColumnCenter;
    flex-wrap: wrap;
        .stepNumber{
            position: relative;
            border-radius: 20px;
            background-color: $background;
            font-weight: 600;
            display: flex;
            width: 100%;
            height: 5;
            height: 60px;
            align-items: center;
            margin-bottom: 20px;
            box-shadow: 5px 5px 10px #d3d3d3;
        }
        h2{
            font-weight: bolder;
        }
        .number{
            position : absolute;
            left : -9px;
            display: flex;
            background: $primaryColor;
            width: 18px;
            height: 18px;
            border-radius: 50%;
            align-items: center;
            justify-content: center;
            font-size: 12px;
            color: white;
            font-weight: 100;
        }
        .fa-mobile-screen, .fa-list, .fa-store{
            color: gray;
            padding: 0 25px;
            width: 62px;
        }
        .fa-store{
            color: $primaryColor;
        }
   }
}

#restaurants{
    background-color: $background;
    padding: 30px 0 30px 0;
    h2{
        margin-left: 20px;
    }
    .listeRestoContainer{
        width: 90%;
        margin: auto;
        .restoCard{
            width: 100%;
            overflow: hidden;
            border-radius: 15px;
            background-color: white;
            margin-bottom: 20px;
            .imageResto{
                position: relative;
            }
            img{
                width: 100%;
                height: 150px;
                object-fit: cover;
            }
            .new{
                background-color: $couleurbackgrNouveau;
                color: $couleurEcritureNouveau;
                position: absolute;
                font-weight: 600;
                font-size: 14px;
                right: 7%;
                top: 10%;
                padding: 8px;
            }
        .caption{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 20px 0 10px;
            height: 60px;
            font-size: 15px;
            h3{
                margin: 0;
            }
            p{
                margin: 0;
            }
            .fa-heart{
                font-size: 20px;
            }
        }   

        }
    }
}

footer{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    background-color: #262323;
    color: $background;
    padding: 10px 10px 20px 10px;
    font-size: 12px;
    a{
        text-decoration: none;
        color: $background;
        margin-bottom: 5px;
    }
    .fa-utensils, .fa-handshake-angle{
        width: 20px;
        text-align: center;
    }
}


