@import '../composants/composants';



// GENERAL
body {
    @extend %body;
}

* {
    box-sizing: border-box;
}

.titre {
    font-family: $ecritureTitre;
}
// mise en place du loader
#loaderContainer {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    z-index: 3000;
    animation: fadeInContainerLoader 4s forwards;

    .loader {
        border: 16px solid $primaryColor;
        border-top: 16px solid $secondaryColor;
        border-radius: 50%;
        width: 120px;
        height: 120px;
        animation: spin 2s linear infinite;
    }

    .textLoader {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        font-size: 22px;
        font-weight: bold;
        text-transform: uppercase;
        position: relative;
        width: 350px;
        height: 50px;

        span {
            background: -webkit-linear-gradient(45deg, $secondaryColor 40%, $primaryColor);
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
        }
// decalge de l'animation sur les enfants
        span:nth-child(1) {
            position: absolute;
            animation: fadeOut 1s forwards;
        }

        span:nth-child(2) {
            position: absolute;
            opacity: 0;
            animation: fadeIn 700ms backwards;
            animation-delay: 1s;
        }

        span:nth-child(3) {
            position: absolute;
            opacity: 0;
            animation: fadeIn 1s backwards;
            animation-delay: 2s;
        }
    }
}



header {
    @extend %header;
}

// Hero section

#hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 40px;

    h2 {
        padding: 0 70px 0 70px;
        margin-bottom: 0;
    }

    p {
        margin-top: 0;
    }

    #location {
        text-align: center;
        background-color: #eaeaea;
        box-shadow: inset 0px 5px 2px #d3d3d3;
        padding: 15px;
        font-weight: 600;
    }

    .fa-location-dot {
        margin-left: -30px;
        margin-right: 10px;
        font-size: 16px;
    }

    #restaurauntsExploration {
        background-color: $background;
        @extend %flexColumnCenter;
        text-align: center;
        padding-bottom: 20px;
    }

    button {
        @extend %boutonColore;
    }
}
// partie fonctionnement du site
#fonctionnement {
    width: 85%;
    margin: auto;

    .stepNumberContainer {
        @extend %flexColumnCenter;
        flex-wrap: wrap;

        .stepNumber {
            position: relative;
            border-radius: 20px;
            background-color: $background;
            font-weight: 600;
            display: flex;
            width: 100%;
            height: 60px;
            align-items: center;
            margin-bottom: 20px;
            box-shadow: 5px 5px 10px #d3d3d3;
        }

        h2 {
            font-weight: bolder;
        }

        .number {
            position: absolute;
            left: -9px;
            display: flex;
            background: $primaryColor;
            width: 18px;
            height: 18px;
            border-radius: 50%;
            align-items: center;
            justify-content: center;
            font-size: 12px;
            color: white;
            font-weight: 100;
        }

        .fa-mobile-screen,
        .fa-list,
        .fa-store {
            color: gray;
            padding: 0 25px;
            width: 62px;
        }

        .fa-store {
            color: $primaryColor;
        }
    }
}
// liste des restaurants
#restaurants {
    background-color: $background;
    padding: 30px 0 30px 0;

    h2 {
        margin-left: 20px;
    }

    .listeRestoContainer {
        width: 90%;
        margin: auto;

        a {
            text-decoration: none;
            color: black;
        }

        .restoCard {
            width: 100%;
            overflow: hidden;
            border-radius: 15px;
            background-color: white;
            margin-bottom: 20px;
            &:hover {
                filter: brightness(1.06);
                box-shadow: 5px 8px 5px $buttonBoxShadowColorDarken;
            }
            .imageResto {
                position: relative;
            }

            img {
                width: 100%;
                height: 150px;
                object-fit: cover;
            }

            .new {
                background-color: $couleurbackgrNouveau;
                color: $couleurEcritureNouveau;
                position: absolute;
                font-weight: 600;
                font-size: 14px;
                right: 7%;
                top: 10%;
                padding: 8px;
            }

            .caption {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0 20px 0 10px;
                height: 60px;
                font-size: 15px;

                h3 {
                    margin: 0;
                }

                p {
                    margin: 0;
                }

                .fa-stack {
                    font-size: 20px;
                    @extend %coeurAnime
                }
            }

        }
    }
}

footer {
    @extend %footer
}